# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
bin/

# Certificates
*.pem
!hack/skaffold/virtual-kubelet/vkubelet-mock-0-crt.pem
!hack/skaffold/virtual-kubelet/vkubelet-mock-0-key.pem

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

/bin
/dist
/build
/cover

# Test credentials file
credentials.json

# Test loganalytics file
loganalytics.json

# Envtest
.envtest/

# VS Code files
.vscode/

# IntelliJ Goland files
.idea

# Terraform ignores
**/.terraform/**
**/terraform-provider-kubernetes
**/*.tfstate*
debug

vendor/
