{{ $intro     := site.Params.intro | markdownify }}
{{ $social    := site.Params.social }}
{{ $providers := site.Data.providers }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-background-white has-extra-padding">
        <p class="title is-size-2 is-size-3-mobile has-text-primary has-text-weight-light">
          The basics
        </p>

        <span class="content is-size-4 is-size-5-mobile">
          {{ $intro }}
        </span>

        <br /><br />

        {{ partial "home/social.html" . }}
      </div>

      <div class="column has-background-black has-extra-padding">
        <p class="title is-size-2 is-size-3-mobile has-text-white has-text-weight-light">
          Providers
        </p>

        <ul>
          {{ range $providers }}
          {{ $url := printf "https://github.com/%s/%s/blob/master/README.md#readme" (.org | default "virtual-kubelet") .tag }}
          <li class="has-bottom-spacing">
            <a class="is-size-5 is-size-6-mobile has-text-grey-lighter has-text-weight-light" href="{{ $url }}" target="_blank">
              {{ .name | markdownify }}
            </a>
            <br />
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
