{{ $socialButtons := site.Params.social }}
{{ $repoInfo      := getJSON "https://api.github.com/repos/virtual-kubelet/virtual-kubelet" }}
{{ $numStars      := $repoInfo.stargazers_count }}
{{ $numWatchers   := $repoInfo.subscribers_count }}
<div class="buttons">
  {{ range $socialButtons }}
  <a class="button is-medium is-{{ .color }}" href="{{ .url }}" target="_blank">
    <span class="icon">
      <i class="fab fa-{{ .icon }}"></i>
    </span>
    <span>
      {{ .name }}
    </span>
  </a>
  {{ end }}
</div>

<div class="buttons">
  <div class="button is-dark is-radiusless">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>

    <span>
      Stars &nbsp;<strong>{{ $numStars }}</strong>
    </span>
  </div>

  <div class="button is-dark is-radiusless">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>

    <span>
      Watchers &nbsp;<strong>{{ $numWatchers }}</strong>
    </span>
  </div>
</div>
