
{{/* Login to required image repositories */}}
{{range $index, $pullCreds := .PullCredentials }}
docker login -u {{$pullCreds.Username}} -p {{$pullCreds.Password}} {{$pullCreds.Server}}
{{end}}

{{/* Create Pod network and start it */}}
docker network create {{.TaskID}}
docker run -d --network {{.TaskID}} --cidfile="./network-container.cid" gcr.io/google_containers/pause:1.0 
networkContainerID=$(<./network-container.cid)

{{/* Todo: Handle volumes */}}

{{/* Create Pod network and start it */}}
{{range $index, $container := .Containers}}
docker run -d --network container:$networkContainerID --ipc container:$networkContainerID \
    {{- range $index, $envs := $container.Env}}
-e "{{$envs.Name}}:{{$envs.Value}}" \
    {{- end}}
--cidfile=./container-{{$index}}.cid {{$container.Image}} {{getLaunchCommand $container}}
{{end}}

{{/* Symlink all container logs files to task directory */}}
{{/* sudo ls item-* | xargs -n 1 cat | sudo xargs -n 1 docker inspect --format='{{.LogPath}}' | xargs -n 1 -i ln -s {} ./barry.txt */}}
{{range $index, $container := .Containers}}
container_{{$index}}_ID=$(<./container-{{$index}}.cid)
container_{{$index}}_Log_Path=$(docker inspect --format={{`'{{.LogPath}}'`}} $container_{{$index}}_ID)
ln -s $container_{{$index}}_Log_Path ./{{$container.Name}}.log
{{end}}



